<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>The wishing app</title>

    <style>
        .card {
            margin: 2% auto;
            width: 60%;
        }

        .navbar {
            padding: 10px;
        }

        .btn-primary {
            margin: 20px 0px;
            margin-bottom: 30px;
        }

        .btn1 {
            margin-left: 20px;
        }

        .btn1 {
            margin-left: 15px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Coding dojo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a style="font-weight: bold;" class="nav-link" href="/logout">log out</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="card">
        <div class="card-header">
            <h1>Hello {{user.fname}}!</h1>
        </div>
        <div class="card-body">
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                <ul class="messages">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <form action="/addwish" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">I wish for:</label>
                    <input type="text" name="title" class="form-control" id="title" aria-describedby="title">
                </div>
                <div class="form-group">
                    <label for="desc">Description:</label>
                    <textarea name="desc" value="desc" id="" cols="30" rows="10"
                        class="form-control">{{wish.desc}}</textarea>
                </div>
                <a class="btn btn-primary" href="/home" role="button">Cancel</a><button class="btn btn-primary btn1"
                    type="submit">Add wish</button>
        </div>
        </form>
    </div>
</body>

</html>